<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apocalypse.example.mapper.simple.DemoModelMapper">
  <resultMap id="BaseResultMap" type="com.apocalypse.example.model.DemoModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="tinyint" property="sex" />
    <result column="birthday" jdbcType="date" property="birthday" />
    <result column="extend" jdbcType="json" property="extend" />
    <result column="fcu" jdbcType="VARCHAR" property="fcu" />
    <result column="fcd" jdbcType="timestamp" property="fcd" />
    <result column="lmu" jdbcType="VARCHAR" property="lmu" />
    <result column="lmd" jdbcType="timestamp" property="lmd" />
  </resultMap>
</mapper>