<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        姓: <input type="text" placeholder="First Name" v-model="firstName"><br>
        名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
        <!--fullName1是根据fistName和lastName计算产生-->
        姓名1(单向): <input type="text" placeholder="Full Name1" v-model="fullName1"><br>
        姓名2(单向): <input type="text" placeholder="Full Name2" v-model="fullName2"><br>
        姓名3(双向): <input type="text" placeholder="Full Name3" v-model="fullName3"><br>

        <p>{{fullName1}}</p>
        <p>{{fullName1}}</p>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el: '#app',
            data: {
                firstName: 'A',
                lastName: 'B',
            },
            computed: {
                //初始化时执行/相关数据发生改变时执行
                fullName1() {
                    console.info(this);
                    return this.firstName + this.lastName;
                },
                fullName3: {
                    get() {
                        return this.firstName + ' ' + this.lastName;
                    },
                    set(value) {
                        var names = value.split(' ');
                        this.firstName = names[0];
                        this.lastName = names[1];
                    }
                }

            },
            watch: {
                firstName: function (value) { //firstName 发生了变化
                    this.fullName2 = value + '&' + this.lastName;
                },
                lastName: function (value) {
                    this.fullName2 = this.firstName + '#' + value;
                }
            }
        });
    </script>
</body>
</html>