<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apocalypse.example.mapper.single.ShardingTableDOMapper">
    <select id="queryIn" resultType="com.apocalypse.example.model.ShardingTableDO">
        select
        id, remark, deleted, create_time as createTime, update_time as updateTime
        from sharding_table
        where id in
        <foreach  collection="ids" item='id' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </select>
</mapper>
